*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ background-color: #00bfa5;}

h1,p{
  position: fixed;
  left: 50%; 
  top: 50%; 
  transform:rotate(0deg) translate(-50%, -50%);
  transform-origin: 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
}

p{font-weight: 100;}

h1{font-weight: 900;}

#root.clicked{

  p{
    animation-duration: 3s;
    animation-direction: reverse;
    animation-name: pclicked;

    @keyframes pclicked{
      0% {
        transform: rotate(0deg) translate(-50%, -50%);
      }
      100% {
        transform: rotate(360deg) translate(-50%, -50%);
      }
    }
  }

  h1{
    animation-duration: 3s;
    animation-direction: reverse;
    animation-name: h1clicked;

    @keyframes h1clicked{
      0% {
        transform: rotate(0deg) translate(-50%, -50%);
      }
      100% {
        transform: rotate(-360deg) translate(-50%, -50%);
      }
    }
  }
}